flows.json
[
    {
        "id": "e9bbe6f990323855",
        "type": "tab",
        "label": "KwH",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e30bcaaf8a33969",
        "type": "buffer-parser",
        "z": "e9bbe6f990323855",
        "name": "",
        "data": "payload.buffer",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "total_active_power",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "e458cd59da403b75"
            ]
        ]
    },
    {
        "id": "e458cd59da403b75",
        "type": "switch",
        "z": "e9bbe6f990323855",
        "name": "total_active_power",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "total_active_power",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "f418e62219297d8f",
                "c05a42da10bb86e6"
            ]
        ]
    },
    {
        "id": "52c064664f419471",
        "type": "modbus-read",
        "z": "e9bbe6f990323855",
        "name": "EASTRON",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "28",
        "quantity": "4",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8735f688.305cf8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 200,
        "y": 340,
        "wires": [
            [],
            [
                "2e30bcaaf8a33969"
            ]
        ]
    },
    {
        "id": "f418e62219297d8f",
        "type": "show-value",
        "z": "e9bbe6f990323855",
        "name": "",
        "path": "",
        "x": 750,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8ddd40c74ea2b182",
        "type": "buffer-parser",
        "z": "e9bbe6f990323855",
        "name": "",
        "data": "payload.buffer",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "total_active_energy",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "4308d363b2ffa7d6"
            ]
        ]
    },
    {
        "id": "4308d363b2ffa7d6",
        "type": "switch",
        "z": "e9bbe6f990323855",
        "name": "total_active_energy",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "total_active_energy",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "f566433d6d70b2a8",
                "46b80bc0908ec1ae"
            ]
        ]
    },
    {
        "id": "9d65175e2e77d0fc",
        "type": "modbus-read",
        "z": "e9bbe6f990323855",
        "name": "EASTRON",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "256",
        "quantity": "4",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8735f688.305cf8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 200,
        "y": 460,
        "wires": [
            [],
            [
                "8ddd40c74ea2b182"
            ]
        ]
    },
    {
        "id": "f566433d6d70b2a8",
        "type": "show-value",
        "z": "e9bbe6f990323855",
        "name": "",
        "path": "",
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9766d21538695527",
        "type": "ha-entity",
        "z": "e9bbe6f990323855",
        "name": "warmtepomp_kwh_totaal_verbruik",
        "server": "3ea23750.037968",
        "version": 2,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "warmtepomp_kwh_totaal_verbruik"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "icon",
                "value": "mdi:counter"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            },
            {
                "property": "state_class",
                "value": "measurement"
            },
            {
                "property": "last_reset",
                "value": "2022-01-01T00:00:00+00:00"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "last_reset",
                "value": "1970-01-01T00:00:00+00:00",
                "valueType": "str"
            }
        ],
        "resend": true,
        "outputLocation": "payload",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "outputOnStateChange": false,
        "outputPayload": "",
        "outputPayloadType": "str",
        "x": 1020,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0692d24b717b104e",
        "type": "ha-entity",
        "z": "e9bbe6f990323855",
        "name": "warmtepomp_watt_huidig_verbruik",
        "server": "3ea23750.037968",
        "version": 2,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "warmtepomp_kwh_huidig_verbruik"
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "icon",
                "value": "mdi:counter"
            },
            {
                "property": "unit_of_measurement",
                "value": "Watt"
            },
            {
                "property": "state_class",
                "value": "measurement"
            },
            {
                "property": "last_reset",
                "value": "2022-01-01T00:00:00+00:00"
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "last_reset",
                "value": "1970-01-01T00:00:00+00:00",
                "valueType": "str"
            }
        ],
        "resend": true,
        "outputLocation": "payload",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "outputOnStateChange": false,
        "outputPayload": "",
        "outputPayloadType": "str",
        "x": 1020,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c05a42da10bb86e6",
        "type": "function",
        "z": "e9bbe6f990323855",
        "name": "",
        "func": "var grid = msg.payload;\nmsg.payload =(grid * 1000).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [
            [
                "7669fc1070463a0b"
            ]
        ]
    },
    {
        "id": "7669fc1070463a0b",
        "type": "show-value",
        "z": "e9bbe6f990323855",
        "name": "",
        "path": "",
        "x": 830,
        "y": 260,
        "wires": [
            [
                "0692d24b717b104e"
            ]
        ]
    },
    {
        "id": "46b80bc0908ec1ae",
        "type": "function",
        "z": "e9bbe6f990323855",
        "name": "",
        "func": "var grid = msg.payload;\nmsg.payload =(grid).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 600,
        "wires": [
            [
                "cf2c320f43941bcb"
            ]
        ]
    },
    {
        "id": "cf2c320f43941bcb",
        "type": "show-value",
        "z": "e9bbe6f990323855",
        "name": "",
        "path": "",
        "x": 870,
        "y": 600,
        "wires": [
            [
                "9766d21538695527"
            ]
        ]
    },
    {
        "id": "8735f688.305cf8",
        "type": "modbus-client",
        "name": "Procon",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "300",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "1",
        "commandDelay": "250",
        "clientTimeout": "2000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "5000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "3ea23750.037968",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30"
    }
]